## Exploratory Data Analysis

In [10]:
import pandas as pd
from scipy.stats import skew

In [ ]:
df = pd.read_csv("RCON_12011.assessor.tsv", sep = "\t")

In [6]:
df.head()

,CountyFipsCode,BuildingCode,StructureCode,StructureNbr,LandSqft,LivingSqft,GarageSqft,BasementSqft,BasementFinishedSqft,AtticSqft,...,DeedType,TransType,ArmsLengthFlag,DistressCode,StatusDate,SellDate,SellPrice,OwnerOccupied,DistrsdProp,IsFixer
0,12011,NaN,NaN,1,3999,1180,0,0,0,0,...,NaN,R,True,NaN,2017-02-10 00:00:00,1998-03-27,40000.0,False,0,0.0
1,12011,NaN,NaN,1,3999,800,0,0,0,0,...,NaN,R,True,NaN,2017-02-10 00:00:00,2006-10-06,100000.0,False,0,0.0
2,12011,NaN,NaN,1,3999,825,0,0,0,0,...,NaN,R,True,NaN,2017-02-10 00:00:00,2003-12-05,78000.0,True,0,0.0
3,12011,NaN,NaN,1,3999,750,0,0,0,0,...,NaN,R,True,NaN,2017-02-10 00:00:00,2006-11-28,111500.0,True,0,0.0
4,12011,NaN,NaN,1,3999,1250,0,0,0,0,...,NaN,R,True,S,2017-02-10 00:00:00,2009-03-04,NaN,True,3,0.0

In [9]:
df.describe()

,CountyFipsCode,BuildingCode,StructureCode,StructureNbr,LandSqft,LivingSqft,GarageSqft,BasementSqft,BasementFinishedSqft,AtticSqft,...,CoolingCode,HeatingCode,HeatingSourceCode,View,ViewScore,LastSalePrice,DeedType,SellPrice,DistrsdProp,IsFixer
count,21637.0,0.0,1.0,21637.000000,21637.000000,21637.000000,21637.0,21637.0,21637.0,21637.0,...,35.0,0.0,0.0,0.0,21637.000000,2.163700e+04,0.0,1.462500e+04,21637.000000,21637.0
mean,12011.0,NaN,-1.0,0.999954,4007.242039,1116.412395,0.0,0.0,0.0,0.0,...,12.0,NaN,NaN,NaN,0.123816,2.630240e+05,NaN,1.614590e+05,0.273605,0.0
std,0.0,NaN,NaN,0.017987,898.307538,2512.882351,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,0.513422,1.467128e+06,NaN,1.814235e+05,0.954218,0.0
min,12011.0,NaN,-1.0,0.000000,3999.000000,99.000000,0.0,0.0,0.0,0.0,...,12.0,NaN,NaN,NaN,0.000000,0.000000e+00,NaN,1.210000e+04,0.000000,0.0
25%,12011.0,NaN,-1.0,1.000000,3999.000000,850.000000,0.0,0.0,0.0,0.0,...,12.0,NaN,NaN,NaN,0.000000,4.700000e+04,NaN,6.500000e+04,0.000000,0.0
50%,12011.0,NaN,-1.0,1.000000,3999.000000,1040.000000,0.0,0.0,0.0,0.0,...,12.0,NaN,NaN,NaN,0.000000,8.500000e+04,NaN,1.150000e+05,0.000000,0.0
75%,12011.0,NaN,-1.0,1.000000,3999.000000,1260.000000,0.0,0.0,0.0,0.0,...,12.0,NaN,NaN,NaN,0.000000,1.676000e+05,NaN,1.950000e+05,0.000000,0.0
max,12011.0,NaN,-1.0,3.000000,134718.000000,366420.000000,0.0,0.0,0.0,0.0,...,12.0,NaN,NaN,NaN,3.000000,3.655000e+07,NaN,5.150000e+06,5.000000,0.0

In [12]:
skew(df['CountyFipsCode'])

0.0

In [13]:
skew(df['StructureCode'])

nan

In [16]:
print(df.dtypes)

CountyFipsCode      int64
BuildingCode      float64
StructureCode     float64
StructureNbr        int64
LandSqft            int64
                   ...
SellDate           object
SellPrice         float64
OwnerOccupied        bool
DistrsdProp         int64
IsFixer           float64
Length: 63, dtype: object

In [22]:
df['BuildingCode'].value_counts(normalize=True)

Series([], Name: BuildingCode, dtype: float64)

In [24]:
del df['BuildingCode']

In [27]:
for obs in list(df['StructureCode']):
    if not pd.isnull(obs):
        print(obs)

-1.0

In [28]:
del df['StructureCode']